/*
    Paleta de cores utilizada no projeto: https://colorhunt.co/palette/ffe9d0fffed3bbe9ffb1afff
*/

:root {
    --primary-color: #b1afff;
    --secondary-color: #ffe9d0;
    --terciary-color: #888888;
    --quaternary-color: #bbe9ff;
}

* {
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    font-size: 1.5rem;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.form-post-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.form-post-section > .container > fieldset {
    border: 1px dotted var(--terciary-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.form-post-section > .container > fieldset > input,
.form-post-section > .container > fieldset > textarea {
    border: 2px solid var(--terciary-color);
    color: var(--terciary-color);
    max-width: 600px;
    padding: 8px;
}

.form-post-section > .container > fieldset > input:focus,
.form-post-section > .container > fieldset > textarea:focus {
    border: 2px solid var(--primary-color);
    outline: none;
}

.form-post-section > .container > fieldset > input {
    height: 30px;
}

.form-post-section > .container > fieldset > textarea {
    resize: none;
}

.form-post-section > .container > fieldset > button {
    max-width: 100px;
}

.posts-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.posts-section > .container > #posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.posts-section > .container > #posts > .post-card {
    border: 1px solid var(--terciary-color);
    flex-grow: 1;
    max-width: 320px;
    padding: 20px
}

.posts-section > .container > #posts > .post-card > .post-card-title {
    font-size: 1.2rem;
}

.posts-section > .container > #posts > .post-card > .post-card-body {
    border-top: 2px solid var(--quaternary-color);
    margin-top: 20px;
    padding-top: 20px;
}

.posts-section > .container > .posts-buttons-navigator {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.posts-section > .container > .posts-buttons-navigator > button {
    width: 100px;
}

.posts-section > .container > .posts-buttons-navigator > button:disabled {
    cursor: not-allowed;
    opacity: .5;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    cursor: pointer;
    height: 40px;
    text-transform: uppercase;
}